
<html op="news">
<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="rss">-->
    <title>Cynical News - Beta</title></head>

<!-- Global site tag (gtag.js) - Google Analytics TODO: change this -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155000519-2"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
    #navbar {
        overflow: hidden;
        background-color: #333;
    }

    /* Navbar links */
    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    #navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    #navbar a.active {
        background-color: #4CAF50;
        color: white;
    }

    .content {
        padding: 6px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky + .content {
        padding-top: 10px;
    }

    /* svg style */

    svg {
        font: 10px sans-serif;
        shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
    }
    
    path.domain {
        stroke: none;
    }
    
    .y .tick line {
        stroke: #ddd;
    }
</style>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-155000519-2');

</script>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F4F5F7">
        <tr>
            <td bgcolor="#3a91ca">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                    <tr>
                        <td style="width:18px;padding-right:4px"><a href="/cynical-reader"><img
                                src="{{ url_for('static', filename='logo-alt.png') }}" width="18" height="18"
                                style="border:1px white solid;"></a></td>
                        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname">
                            Cynical Reader</b></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <div id = 'navbar'>
            {% for domain in domains %}
                {% if (domain == active_domain) %}
                    <a class="active" href="/cynical-reader/filter?domain={{ domain }}">{{domain}}</a>
                {% else %}
                    <a href="/cynical-reader/filter?domain={{ domain }}">{{domain}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div id = 'navbar' style="background-color: rgb(6, 121, 167) !important;">
            {% for site in sites.values() %}
                {% if (site == active_site) %}
                    <a class="active" href="/cynical-reader/filter?site={{ site }}&domain={{ active_domain }}">{{site}}</a>
                {% else %}
                    <a href="/cynical-reader/filter?site={{ site }}&domain={{ active_domain }}">{{site}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="graph">
            {% if not active_domain == 'all' %}
                <h1>Graph will come here</h1>
                <div id="graph">

                </div>
                
                {% for percentage in percentages %}
                    <h2> {{ percentage.site }} - {{ percentage.per }} </h2>
                {% endfor %}
            {% endif %}
        </div>
        <div class="content">
            <tr id="pagespace" title="" style="height:10px"></tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        {% for each in data %}
                        <tr class='athing' id='{{ each.id }}'>
                            <td align="right" valign="top" class="title"><span class="rank">{{ loop.index + (next_page-2)*30 }}.</span>
                            </td>
                            <td valign="top" class="votelinks">
                                <center><a id='up_{{ each.id }}'>
                                    <div class='votearrow' title='upvote'></div>
                                </a></center>
                            </td>
                            <td class="title"><a href="{{ each.link }}" target="_blank" class="storylink">{{ each.title }}
                            </a><span class="sitebit comhead"> (<a href="/cynical-reader/filter?site={{ each.source }}"
                                                                target="_blank"><span
                                    class="sitestr">{{ each.source }}</span></a>)</span></td>
                            <td>
                                {% set tags = each.tags.split(',') %}
                                {% for tag in tags %}
                                    <button>{{ tag }}</button>
                                {% endfor %}
                            </td>
                            <td>
                                {% set domains = each.domains.split(',') %}
                                {% for domain in domains %}
                                    <button style="background-color: rgb(235, 168, 168);border: none;">{{ domain }}</button>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                Added by<a href="/" target="_blank" class="hnuser"> son of CN</a> |
                                <span class="age">Published on {{ each.published_date }}</span>
                            </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        {% endfor %}

                        <tr class="morespace" style="height:10px"></tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="title"><a href="/cynical-reader/filter?site={{ active_site }}&domain={{ active_domain }}&page={{ next_page }}" class="morelink"
                                                rel="next">More</a></td>
                            {% if next_page > 2 %}
                                <td class="title"><a href="/cynical-reader/filter?site={{ active_site }}&domain={{ active_domain }}&page={{ next_page -2 }}"
                                class="morelink" rel="next">Back</a></td>
                            {% endif%}
                        </tr>
                    </table>
                </td>
            </tr>
        </div>
        
        <tr>
            <td><img src="s.gif" height="10" width="0">
                <table width="100%" cellspacing="0" cellpadding="1">
                    <tr>
                        <td bgcolor="#3a91ca"></td>
                    </tr>
                </table>
                <br>
                <center><span class="yclinks">
                    <a href="#" target="_blank">Twitter</a>
                |   <a href="#" target="_blank">Facebook</a>
                |   <a href="#" target="_blank">Youtube</a>
        |           <a href="#" target="_blank">Subscribe</a>
                    <!--| <a href="mailto:visualizenow11@gmail.com">Contact</a>-->
                </span><br><br>
                    <!--<form method="get" action="">Search:-->
                    <!--<input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false"-->
                    <!--autocapitalize="off" autocomplete="false"></form>-->
                    <!--<p>This site is not affiliated or linked with <a href="https://news.ycombinator.com/" target="_blank" style="color: blue">Hacker News [Y Combinator]</a>.</p>-->
                    <br><br>
                </center>
            </td>
        </tr>
    </table>
</center>
    <script>
        // making navebar sticky
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }

        // bargraph scriptign
        var margin = {top: 20, right: 160, bottom: 35, left: 30};

        var width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var svg = d3.select("#graph")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        /* Data in strings like it would be if imported from a csv */
        site_aliases = JSON.parse('{{ site_aliases | tojson | safe }}')
        var data = JSON.parse('{{ graph_data | tojson | safe }}')
        console.log("data:::",data);
        // var data = [
        //     // { date: "2006", redDelicious: "10", mcintosh: "15", oranges: "9", pears: "6" },
        //     { date: "2007", hackernoon : "10", devto : "10", lobsters : "10", stackoverflow : "10", producthunt : "10", reddit : "10" },
        // ];

        var parse = d3.time.format("%Y").parse;

        var parseDate = d3.time.format("%Y-%m-%d").parse;

        // Transpose the data into layers
        var dataset = d3.layout.stack()(site_aliases.map(function(site) {
            return data.map(function(d) {
                // return {x: parse(d.date), y: +d[site]};
                return {x: parseDate(d.date), y: +d[site]};
            });
        }));
        console.log("dataset:::",dataset);


        // Set x, y and colors
        var x = d3.scale.ordinal()
            .domain(dataset[0].map(function(d) { return d.x; }))
            .rangeRoundBands([10, width-10], 0.02);

        var y = d3.scale.linear()
            .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
            .range([height, 0]);

        var colors = ["#FBA09D","#FBB39D","#FBC99D","#FBDF9D","#E9E5AF","#C8DDBB","#B6E2DD","#84c1ff","#e3f0ff","#ffd3b6","#ffaaa5","#ff8b94","#d2e7ff","#eedbdb","#cecbcb","#cbdadb","#dcedc1","#a8e6cf"];

        // Define and draw axes
        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10)
            .tickSize(-width, 0, 0)
            .tickFormat( function(d) { return d } );

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .tickFormat(d3.time.format("%d-%b-%y"));

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);


        // Create groups for each series, rects for each segment 
        var groups = svg.selectAll("g.cost")
            .data(dataset)
            .enter().append("g")
            .attr("class", "cost")
            .style("fill", function(d, i) { return colors[i]; });

        var rect = groups.selectAll("rect")
            .data(function(d) { return d; })
            .enter()
            .append("rect")
            .attr("x", function(d) { return x(d.x); })
            .attr("y", function(d) { return y(d.y0 + d.y); })
            .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
            .attr("width", x.rangeBand())
            .on("mouseover", function() { tooltip.style("display", null); })
            .on("mouseout", function() { tooltip.style("display", "none"); })
            .on("mousemove", function(d) {
                var xPosition = d3.mouse(this)[0] - 15;
                var yPosition = d3.mouse(this)[1] - 25;
                tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
                tooltip.select("text").text(d.y);
            });

        // Draw legend
        var legend = svg.selectAll(".legend")
            .data(colors.slice(0,site_aliases.length-1))
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { if(i< site_aliases.length-1)return "translate(30," + i * 19 + ")"; });
            
        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function(d, i) { if(i< site_aliases.length-1)return colors[i];});
            
        legend.append("text")
            .attr("x", width + 5)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "start")
            .text(function(d, i) { 
                if(i< site_aliases.length-1)return site_aliases[i]
            });


        // Prep the tooltip bits, initial display is hidden
        var tooltip = svg.append("g")
            .attr("class", "tooltip")
            .style("display", "none");
            
        tooltip.append("rect")
            .attr("width", 30)
            .attr("height", 20)
            .attr("fill", "white")
            .style("opacity", 0.5);

        tooltip.append("text")
            .attr("x", 15)
            .attr("dy", "1.2em")
            .style("text-anchor", "middle")
            .attr("font-size", "12px")
            .attr("font-weight", "bold");

    </script>

</body>
</html>
